<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

 <ion-card>
  <ion-card-header>
    <ion-card-title>Información Personal</ion-card-title>
  </ion-card-header>
  <ion-card-content>
   <p><strong>Nombre:</strong> {{ nombre }}</p>
   <p><strong>Correo:</strong> {{ correo }}</p>
  </ion-card-content>
</ion-card>

<ion-item>
  <ion-label position="floating">Editar nombre</ion-label>
  <ion-input [(ngModel)]="nombre"></ion-input>
</ion-item>

</ion-content>
